<form name="mockupForm" ng-submit="vm.save(mockupForm)">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title"> Mockup Form </h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label"> Epic </label>
          <p> {{ vm.epic.code }} - {{ vm.epic.name }} </p>
        </div>
        <div class="form-group">
          <label class="control-label"> Story </label>
          <p> {{ vm.story.code }} - {{ vm.story.name }} </p>
        </div>
      </div>
      <div class="col-md-8">
        <img ng-src="{{ vm.mockup.file ? (vm.mockup.file | ngfDataUrl) : vm.mockup.imagePath || '/assets/images/image-placeholder.jpg' }}"
          alt="Image not found"
          onerror="this.onerror=null; this.src='/assets/images/image-placeholder.jpg';"
          ngf-select ng-model="vm.mockup.file"
          ngf-pattern="'image/*'" ngf-accept="'image/*'"
          width="100%" class="image-select" />
        <span class="text-danger" ng-bind="vm.imageError"></span>
      </div>
    </div>
    <h5>
      <strong> Input Json </strong>
    </h5>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <div class="form-group" ng-class="{ 'has-error': mockupForm.url.$invalid && mockupForm.url.$touched }">
            <label class="control-label" for="url"> URL </label>
            <input type="text" name="url" aria-describedby="required-url"
              id="url" class="form-control"
              ng-model="vm.mockup.url" required  ng-readonly="vm.viewMode"/>
            <span id="required-url" class="help-block" ng-show="mockupForm.url.$error.required && mockupForm.url.$touched"> Please provide url for the mockup </span>
          </div>
          <div class="form-group" ng-class="{ 'has-error': mockupForm.raw.$invalid && mockupForm.raw.$touched }">
            <label class="control-label" for="raw"> Raw </label>
            <textarea type="text" aria-describedby="required-raw"
              id="raw" class="form-control"
              ng-model="vm.mockup.raw" required ng-readonly="vm.viewMode"></textarea>
            <span id="required-raw" class="help-block" ng-show="mockupForm.raw.$error.required && mockupForm.raw.$touched"> Please provide raw data of the mockup </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-if="!vm.viewMode"> Save </button>
    <button class="btn" ng-class="{ 'btn-warning': !vm.viewMode, 'btn-default': vm.viewMode }" type="button" ng-click="vm.dismiss()">
      <span ng-hide="vm.viewMode"> Cancel </span>
      <span ng-show="vm.viewMode"> Close </span>
    </button>
  </div>
</form>
