<div class="container" id="projects">
  <h3 ng-bind="vm.project.name"></h3>
  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <p ng-bind="vm.project.info"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ui-tree>

        <!-- PROJECTS -->
        <ol ui-tree-nodes="" ng-model="vm.projects">
          <li ng-repeat="project in vm.projects" ui-tree-node data-nodrag>
            <div ui-tree-handle>
              <a href="#" ng-click="toggle(this); vm.getEpics(project, collapsed);">
                <i class="glyphicon"
                  ng-class="{ 'glyphicon-menu-right': collapsed, 'glyphicon-menu-down': !collapsed }">
                </i>
              </a>
              {{ project.name | limitTo : 40 }}
              <button class="btn btn-xs btn-primary" type="button" ng-click="vm.openEpicForm(project, { ProjectId: vm.project._id })">
                <b> E </b>
              </button>
            </div>

            <!-- EPICS -->
            <ol ui-tree-nodes="" ng-model="project.epics" ng-class="{ hidden: collapsed }">
              <li ng-repeat="epic in project.epics" ui-tree-node data-nodrag>
                <div ui-tree-handle>
                  <a href="#" ng-click="toggle(this); vm.getStories(epic, collapsed);">
                    <i class="glyphicon"
                      ng-class="{ 'glyphicon-menu-right': collapsed, 'glyphicon-menu-down': !collapsed }">
                    </i>
                  </a>
                  {{ epic.code }} - {{ epic.name | limitTo : 40 }}
                  <button class="btn btn-xs btn-primary" type="button" ng-click="vm.openStoryForm(epic, { EpicId: epic._id })">
                    <b> S </b>
                  </button>
                  <button class="btn btn-xs btn-default" type="button" ng-click="vm.openEpicForm(project, epic, true)">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                  <button class="btn btn-xs btn-success" type="button" ng-click="vm.openEpicForm(project, epic)">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                  <button class="btn btn-xs btn-danger" type="button" ng-click="vm.deleteEpic(epic.name, epic, project)">
                    <i class="glyphicon glyphicon-trash"></i>
                  </button>
                </div>

                <!-- STORIES -->
                <ol ui-tree-nodes="" ng-model="epic.stories" ng-class="{ hidden: collapsed }">
                  <li ng-repeat="story in epic.stories" ui-tree-node data-nodrag>
                    <div ui-tree-handle>
                      <a href="#" ng-click="toggle(this); vm.getAssertions(story, collapsed); vm.getMockups(story, collapsed)">
                        <i class="glyphicon"
                          ng-class="{ 'glyphicon-menu-right': collapsed, 'glyphicon-menu-down': !collapsed }">
                        </i>
                      </a>
                      {{ story.code }} - {{ story.name | limitTo : 40 }}
                      <button class="btn btn-xs btn-primary" type="button" ng-click="vm.openAssertionForm(epic, story, { StoryId: story._id })">
                        <b> A </b>
                      </button>
                      <button class="btn btn-xs btn-primary" type="button" ng-click="vm.openMockupForm(epic, story, { StoryId: story._id })">
                        <b> M </b>
                      </button>
                      <button class="btn btn-xs btn-default" type="button" ng-click="vm.openStoryForm(epic, story, true)">
                        <i class="glyphicon glyphicon-eye-open"></i>
                      </button>
                      <button class="btn btn-xs btn-success" type="button" ng-click="vm.openStoryForm(epic, story)">
                        <i class="glyphicon glyphicon-pencil"></i>
                      </button>
                      <button class="btn btn-xs btn-danger" type="button" ng-click="vm.deleteStory(story.name, story, epic)">
                        <i class="glyphicon glyphicon-trash"></i>
                      </button>
                    </div>

                    <!-- ASSERTIONS -->
                    <ol ui-tree-nodes="" ng-model="story.assertions" ng-class="{ hidden: collapsed }">
                      <li ng-repeat="assertion in story.assertions" ui-tree-node data-nodrag>
                        <div ui-tree-handle>
                          {{ assertion.code }} - {{ assertion.info | limitTo : 40 }}
                          <button class="btn btn-xs btn-default" type="button" ng-click="vm.openAssertionForm(epic, story, assertion, true)">
                            <i class="glyphicon glyphicon-eye-open"></i>
                          </button>
                          <button class="btn btn-xs btn-success" type="button" ng-click="vm.openAssertionForm(epic, story, assertion)">
                            <i class="glyphicon glyphicon-pencil"></i>
                          </button>
                          <button class="btn btn-xs btn-danger" type="button" ng-click="vm.deleteAssertion(assertion.info, assertion, story)">
                            <i class="glyphicon glyphicon-trash"></i>
                          </button>
                        </div>
                      </li>
                    </ol>

                    <!-- MOCKUPS -->
                    <ol ui-tree-nodes="" ng-model="story.mockups" ng-class="{ hidden: collapsed }">
                      <li ng-repeat="mockup in story.mockups" ui-tree-node data-nodrag>
                        <div ui-tree-handle class="mockups">
                          <a href="#" ng-click="toggle(this); vm.getInteractions(mockup, collapsed);">
                            <i class="glyphicon"
                              ng-class="{ 'glyphicon-menu-right': collapsed, 'glyphicon-menu-down': !collapsed }">
                            </i>
                          </a>
                          {{ mockup.code }} -
                          <img ng-src="{{ mockup.imagePath }}" alt="Image not found"
                            onerror="this.onerror=null; this.src='/assets/images/image-placeholder.jpg';" height="100px" />
                          <button class="btn btn-xs btn-default" type="button" ng-click="vm.openMockupForm(story, story, mockup, true)">
                            <i class="glyphicon glyphicon-eye-open"></i>
                          </button>
                          <button class="btn btn-xs btn-success" type="button" ng-click="vm.openMockupForm(story, story, mockup)">
                            <i class="glyphicon glyphicon-pencil"></i>
                          </button>
                          <button class="btn btn-xs btn-danger" type="button" ng-click="vm.deleteMockup(mockup.code + ' mockup', mockup, story)">
                            <i class="glyphicon glyphicon-trash"></i>
                          </button>
                        </div>
                      </li>
                    </ol>

                  </li>
                </ol>

              </li>
            </ol>

          </li>
        </ol>

      </div>
    </div>
  </div>
</div>
