<div class="container" id="projects">
  <h3 ng-bind="vm.project.name"></h3>
  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <p ng-bind="vm.project.info"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ui-tree>
        <ol ui-tree-nodes="" ng-model="vm.tree">
          <li ng-repeat="project in vm.projects" ui-tree-node>
            <div ui-tree-handle>
              {{ project.name }}
            </div>
            <ol ui-tree-nodes="" ng-model="project.epics">
              <li ng-repeat="epic in project.epics" ui-tree-node>
                <div ui-tree-handle>
                  {{ epic.name }}
                </div>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
