<form name="storyForm" ng-submit="vm.save(storyForm)">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title"> Story Form </h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="form-group">
      <label class="control-label"> Epic </label>
      <p> {{ vm.epic.code }} - {{ vm.epic.name }} </p>
    </div>
    <div class="form-group" ng-class="{ 'has-error': storyForm.name.$invalid && storyForm.name.$touched }">
      <label class="control-label" for="name"> Name </label>
      <input type="text" name="name" aria-describedby="required-name"
        id="name" class="form-control"
        ng-model="vm.story.name" required  ng-readonly="vm.viewMode"/>
      <span id="required-name" class="help-block" ng-show="storyForm.name.$error.required && storyForm.name.$touched"> Please provide name for the story </span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': storyForm.info.$invalid && storyForm.info.$touched }">
      <label class="control-label" for="info"> Narration </label>
      <textarea type="text" aria-describedby="required-info"
        id="info" class="form-control" name="narration"
        ng-model="vm.story.info" required ng-readonly="vm.viewMode"></textarea>
      <span id="required-info" class="help-block" ng-show="storyForm.info.$error.required && storyForm.info.$touched"> Please provide narration of the story </span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-if="!vm.viewMode"> Save </button>
    <button class="btn" ng-class="{ 'btn-warning': !vm.viewMode, 'btn-default': vm.viewMode }" type="button" ng-click="vm.dismiss()">
      <span ng-hide="vm.viewMode"> Cancel </span>
      <span ng-show="vm.viewMode"> Close </span>
    </button>
  </div>
</form>
