<form name="assertionForm" ng-submit="vm.save(assertionForm)">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title"> Assertion Form </h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="form-group">
      <label class="control-label"> Epic </label>
      <p> {{ vm.epic.code }} - {{ vm.epic.name }} </p>
    </div>
    <div class="form-group">
      <label class="control-label"> Story </label>
      <p> {{ vm.story.code }} - {{ vm.story.name }} </p>
    </div>
    <div class="form-group" ng-class="{ 'has-error': assertionForm.info.$invalid && assertionForm.info.$touched }">
      <label class="control-label" for="info"> Description </label>
      <textarea type="text" aria-describedby="required-info"
        id="info" class="form-control"
        ng-model="vm.assertion.info" required ng-readonly="vm.viewMode"></textarea>
      <span id="required-info" class="help-block" ng-show="assertionForm.info.$error.required && assertionForm.info.$touched"> Please provide description of the assertion </span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-if="!vm.viewMode"> Save </button>
    <button class="btn" ng-class="{ 'btn-warning': !vm.viewMode, 'btn-default': vm.viewMode }" type="button" ng-click="vm.dismiss()">
      <span ng-hide="vm.viewMode"> Cancel </span>
      <span ng-show="vm.viewMode"> Close </span>
    </button>
  </div>
</form>
